* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #2b0033, #090010);
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #12001a;
  padding: 25px;
  border-radius: 20px;
  width: 340px;
  box-shadow: 0 0 30px #a100ff;
}

h1 {
  text-align: center;
  color: #c77dff;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #7b2cbf;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button.active {
  background: #c77dff;
}

.slider-group label {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

input[type="range"] {
  width: 100%;
}
